.table
	width 100%
	font-size 1.4rem
	table-layout fixed
	&_alloy
		tbody
			td:first-of-type
				font-weight 700

	td
	th
		border 1px solid silver
		border-collapse collapse
		text-align left
		vertical-align middle
	th
		padding 10px 5px
	td
		padding 10px 5px