doctype html
html(lang="ru")

	- var page_class = ''

	block vars


	include ../../../components/header/_head



	body(class="page page-template-default")

		div(class="#{page_class}").main_wrap

			//- include ../../../components/header/_header

			block content


		//- include ../../../components/footer/_footer

		include ../../../components/styles/_styles

		include ../../../components/scripts/_scripts

		//- include ../../../components/modal/_modal