.breadcrumb
	&s
		@extend $list-reset
		padding-top 2rem
		padding-bottom 1.5rem
		li
			display inline-block
			&:after
				content '-'
				display inline-block
				padding 0 4px
				font-size 1.4rem
				color mine_shaft
			&:last-of-type
				&:after
					display none
			a
				font-size 1.4rem
				color mine_shaft
	&__home
		display inline-block
		margin-top 3px
