$input-reset
    display inline-block
    position relative
    margin 0
    padding 0
    border none
    background-color transparent

$btn-reset
    display inline-block
    position relative
    margin 0
    padding 0
    border none
    text-align center
    cursor pointer
    text-decoration none
    color inherit
    outline none
    background-color transparent

$list-reset
    list-style none
    padding 0
    margin 0

$link-reset
    color inherit
    text-decoration none

$h-reset
    margin-top 0
    margin-bottom 0
    font-size inherit
    font-weight normal

$center
    margin-left auto
    margin-right auto

$hide-text
    overflow hidden
    text-indent 100%
    white-space nowrap

// IMAGE VERTICAL ALIGN
$v-align
    &:before
        content ''
        display inline-block
        vertical-align middle
        height 100%
        width 1px
        margin-right -5px
    & img
        display inline-block
        vertical-align middle

// IFRAME RESPONSIVE
$iframe-resp
    &
        position relative
        padding-bottom 50%
    & iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%

// MICRO CLEARFIX
$cf
    &
        *zoom 1
    &:before, &:after
        content ""
        display table
    &:after
        clear both

$no-user-select
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none