extends ../../common/jade/base/base

block vars
	- var page_class = "home"

block content
	#page.hfeed.site

		#content.site-content(tabindex='-1')
			.container
				nav.woocommerce-breadcrumb
					a(href='/') Главная
					span.delimiter
						i.fa.fa-angle-right
						| Услуги

				#primary.content-area
					main#main.site-main
						article.hentry
							header.entry-header
								h1.entry-title Услуги
							.services__list
								.sl__item
									.sl__img
										img(src="../img/serv1.jpg", alt="")
									a(href="").sl__title Монтаж кондиционеров

								.sl__item
									.sl__img
										img(src="../img/serv2.jpg", alt="")
									a(href="").sl__title Монтаж вителяции

								.sl__item
									.sl__img
										img(src="../img/serv3.jpg", alt="")
									a(href="").sl__title Установка защиты от протечек

								.sl__item
									.sl__img
										img(src="../img/serv1.jpg", alt="")
									a(href="").sl__title Монтаж кондиционеров

								.sl__item
									.sl__img
										img(src="../img/serv2.jpg", alt="")
									a(href="").sl__title Монтаж вителяции

								.sl__item
									.sl__img
										img(src="../img/serv3.jpg", alt="")
									a(href="").sl__title Установка защиты от протечек

							.services__text.row
								.col-md-6
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione molestias quae magni dolor labore ad iusto. Atque corrupti molestiae quis. Tenetur, debitis! Illum quis blanditiis veritatis placeat quisquam unde autem omnis iure est! Non nemo culpa, recusandae id! Consequatur ipsum, quaerat labore odio, ab inventore. Deleniti cumque, eum possimus!
								.col-md-6
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione molestias quae magni dolor labore ad iusto. Atque corrupti molestiae quis. Tenetur, debitis! Illum quis blanditiis veritatis placeat quisquam unde autem omnis iure est! Non nemo culpa, recusandae id! Consequatur ipsum, quaerat labore odio, ab inventore. Deleniti cumque, eum possimus!
