@import '../../common/stylus/page.styl'

.services
	&__list
		lost-utility clearfix
.sl
	&__item
		margin-bottom 50px
		lost-utility clearfix
		lost-column 1/3 3 20px
		padding-right 20px
		border-right 1px solid #eaeaea
		text-decoration none
		+below(1200px)
			padding-right 10px
		+above(991px)
			&:nth-child(3n)
				border-right 0
		+below(991px)
			lost-column 1/2 2 20px
			&:nth-child(2n)
				border-right 0
		+below(480px)
			lost-column none
			border 0
			text-align center

	&__img
		float left
		height 160px
		margin-right 10px
		+below(1200px)
			height 120px
		+below(991px)
			height 120px
			margin-right 20px
		+below(768px)
			float none
			margin-bottom 20px
		+below(480px)
			height 140px
			img
				margin auto

		img
			max-height 100%

	&__title
		position relative
		padding-bottom 30px
		text-transform uppercase
		font-size 1.2em
		word-break break-word
		text-decoration none
		color #333
		&:after
			content ''
			position absolute
			bottom 0 
			right 20px
			display inline-block
			margin-left 10px
			width 24px
			height 24px
			border-radius 12px
			color white
			text-align center
			// background-color #34bff6
			background #34bff6 url(img/arrow.jpg) center center no-repeat
			+below(768px)
				position static
				margin-bottom -5px
